#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.fade-enter {
  opacity: 0;
  transform: translateX(100px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease-in-out;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 500ms ease-in-out;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
